@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'tailwindcss/utilities';

@plugin 'daisyui' {
  themes: false;
}

@theme {
  --font-display: Roboto, sans-serif;
  --color-blue: var(--homey-text-color-blue);
  --color-color: var(--homey-text-color);
  --color-danger: var(--homey-text-color-danger);
  --color-light: var(--homey-text-color-light);
  --font-weight-bold: var(--homey-font-weight-bold);
  --font-weight-medium: var(--homey-font-weight-medium);
  --font-weight-normal: var(--homey-font-weight-regular);
  --text-default: var(--homey-font-size-default);
  --text-default--line-height: var(--homey-line-height-default);
}

#zones {
  text-align-last: center;
}
