.bordered {
    border-collapse: collapse;
    width: 100%;
}

.bordered thead th {
    background-color: #e6e6e6;
    font-weight: bold;
}

.bordered td,
.bordered th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homey-button-secondary,
.homey-button-primary {
    flex-basis: 100%;
}

.input-container {
    flex-basis: 60%;
}
