.bordered {
  border-collapse: collapse;
  width: 100%;
}

.bordered th {
  background-color: #e6e6e6;
  font-weight: bold;
}

.bordered td,
.bordered th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.is-disabled {
  pointer-events: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.label-container,
.left,
.right {
  display: flex;
  align-items: center;
}

.label-container {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.homey-form-label.unset-margin {
  margin: unset;
  margin-right: 8px;
}

.homey-form-label.unset-margin-top {
  margin-top: unset;
  margin-right: 8px;
}

.homey-form-label.bolded {
  font-weight: bold;
}

.inline {
  display: inline-block;
  align-items: left;
}
