.snowflake {
  position: absolute;
  top: -10px;
  color: #8ecae6;
  user-select: none;
  animation-name: fall;
  animation-timing-function: linear;
}

@keyframes fall {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}
