#animation,
#smoke_canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

#zones {
  text-align-last: center;
}

label {
  display: flex;
  white-space: nowrap;
  width: 100%;
}

input {
  text-align: right;
}

select:not(#zones) {
  text-align-last: right;
}
