#animation,
#smoke_canvas {
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

label {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
}

input {
  text-align: end;
}

select:not(#zones) {
  text-align-last: right;
}
