html {
  font-family: 'Roboto', Helvetica, sans-serif !important;
}

#animation,
#smoke_canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

#zones {
  font-weight: bold;
}

input {
  text-align: right;
}

select:not(#zones) {
  text-align-last: right;
}

.btn {
  position: relative;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.border-color-green {
  border-color: var(--homey-color-green);
}

.color-blue {
  color: var(--homey-color-blue);
}

.color-danger {
  color: var(--homey-color-danger);
}

.color-green {
  color: var(--homey-color-green);
}
