.sun {
  position: absolute;
  top: -120px;
  right: -60px;
  font-size: 200px;
  user-select: none;
  pointer-events: none;
  animation-name: shine;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
