name: Dependabot auto-merge
on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com
          scope: '@olivierzal'
          cache: 'npm'
      - name: Lint & format code
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.MY_GITHUB_PERSONAL_TOKEN }}
      - name: Build code & validate app
        uses: athombv/github-action-homey-app-validate@master
        with:
          level: publish
      - name: Commit & push
        run: |
          git add -A
          if ! git diff --cached --exit-code; then
            git commit -m "Dependabot update: lint, format and build code"
            git push origin HEAD:${{ github.head_ref }}
          fi
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
